/* BALISES */

h1 {
    margin: 0;
}

h4 {
    margin-top: 30px;
}

/* ID */

#background {
    background: url('images/space.png') ;
    background-attachment: fixed;
    min-height: 1750px;
    height: 100vh;
    font-family: "Audiowide", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    color: white;
}

/* BOOTSTRAP CHANGE */

.btn-outline-danger {
    --bs-btn-color: #551c47;
    --bs-btn-border-color: #551c47;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #551c47;
    --bs-btn-hover-border-color: #551c47;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #551c47;
    --bs-btn-active-border-color: #551c47;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #551c47;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #551c47;
    --bs-gradient: none;
    font-weight: bold;
    border-width: 2px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #421838;
    --bs-btn-border-color: #421838;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #551c47;
    --bs-btn-hover-border-color: #551c47;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #551c47;
    --bs-btn-active-border-color: #551c47;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #421838;
    --bs-btn-disabled-border-color: #421838;
}

.card-git {
    font-family: "Coda", sans-serif
}

.card-deck {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(4, 1fr);
    gap: 50px 100px;
}

.card-body {
    height: auto;
    width: 300px;
    z-index: 1;
}

.card-header {
    background-color: #ffffff00;
    z-index: 1;
}

.card {
    color: #fff;
    background: transparent;
    border-radius: 15px;
}

.card::after {
    content: "";
    background-color: #000;
    opacity: 60%;
    border-radius: 15px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.card:hover {
    background-color: #551c47c4;
}

/* CLASSES */

.nav-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titre {
    background-color: rgba(211, 211, 211, 0.199);
    padding: 50px 80px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 4px solid rgba(255, 255, 255, 0.178);
    text-align: center;
}

.github-pic {
    height: 80px;
    width: auto;
    border-radius: 40px;
    border: 3px solid rgba(128, 128, 128, 0.466);
}

/* ANIMATIONS */

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes policeScale {
    from {
        transform: scale(114%);
    }
    to {
        transform: scale(100%);
    }
}

/* RESPONSIVES */

/* Smartphone portrait */
@media (max-width: 480px) {
}

/* Smartphone paysage / petite tablette */
@media (max-width: 768px) {
    /* body {
        animation: fadeInScale 1s ease;
    } */

    body .card-deck {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 50px 100px;
    }

    body .card {
        animation: fadeInScale 1s ease !important;
    }
}


/* Tablette / petit laptop */
@media (max-width: 1200px) {
    h1 {
        font-size: 35px;
        animation: policeScale 1s ease;
    }
    
    h4 {
        font-size: 22px;
        animation: policeScale 1s ease;
    }

    #background {
        min-height: 2450px;
    }
    
    .card-deck {
        display: grid; 
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(6, 1fr);
        gap: 50px 100px;
    }

    body .card {
        animation: fadeInScale 1s ease;
    }

    .titre {
        width: 980px;
        animation: policeScale 0.5s ease;
        margin: 0px 100px 50px 100px;
    }
}

/* Grand écran */
@media (min-width: 1200px) {

}

